<h2 class="addwordtag">EPIC DICTIONARY IS WRITTEN BY YOU</h2>
<p>Now's your chance to add your own word.</p>
<form action="/" method="post">
  <div class="form-group">
    <input name="userword" type="text" class="form-control" id="userword" required placeholder="Type your word . . .">
  </div>
  <button type="submit" class="btn btn-default btn-block">Submit!</button>
</form>
